<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>MDX Transform</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
  </head>
  <body>
    
    <div>

        <div>

            <h1>MDX Transform Example</h1>
            <p>
                This MDX will be transformed into HTML and inserted into the <code>template.html</code> file, replacing
                the {{ .Content }} line.
            </p>

        </div>

    </div>

  </body>
</html>


